body {
    background:url('./pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

.container {
    flex-direction: column;
}

.item {
    align-self: center;
    padding: 5px;
}

.column{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.column input {
    font-size: 16px;
}

.column label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.button {
    margin-top: 100px ;
}

#nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    height:38px;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

.row {
    display:flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #fb6c45 ;
    display:flex;
    flex-direction: row;
}

ul > #first {
    margin-right: auto;
}

li {
    align-self: center;
    margin-right: 10px;
}

h1 {
    color: #FFFFFF;
    padding-left: 10px;
}

